body {
    color: #000;
    font-family: "Microsoft YaHei UI", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
}

.simple-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: unset;
    border-top: #000 1px solid;
    border-right: #000 1px solid;
    font-size: 1rem;
    line-height: 1rem;
}

.simple-table th,
.simple-table td {
    border-left: #000 1px solid;
    border-bottom: #000 1px solid;
}

h1,h2,h3,h4{
    font-weight: 600;
    padding-bottom: 1.5em;
    padding-top: 2.5em;
}
h1 {
    font-size: 1.6rem;
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.3rem;
}

.pendant-title{
    position: absolute;
    color: #666666;
    top: 1cm;
    left: 1cm;
}
